## .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
*.Backup.tmp
.vs/

## User-specific files
*.rsuser
*.log

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/

## ASP.NET Scaffolding
ScaffoldingReadMe.txt

## NuGet
*.nupkg
*.snupkg
**/[Pp]ackages/
!**/[Pp]ackages/build/
*.nuget.props
*.nuget.targets

## Publish
**/publish/
**/PublishProfiles/

## Sensitive files
appsettings.Development.json
appsettings.*.json
!appsettings.json

## OS
.DS_Store
Thumbs.db
